
@font-face {
    font-family: satoshi;
    src: url(uploads/satoshi_fontfamily/Satoshi_Complete/Satoshi-Variable.ttf);
}
body{
    padding: 0;
    margin: 0;
    font-family: satoshi;
}
/* scroller style control start  */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b47945a1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #BC6C25;
    border-radius: 10px;
}
/* scroller style control end  */
.hero {
    background: url(uploads/hero_background.jpg) no-repeat;
    height: 1559px;
    background-size:  cover;
}
/*header start*/
.header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.items_container {
    width: 1210px;
    height: 65px;
    padding: 0.5rem;
    border-radius: 100px;
    
    background: rgba(255, 255, 255, 0.80);
}
.logo_container {
    height:100%;
    display: table;
    float: left;
    padding-right: 150px;
    padding-left:10px;
}
.header_navigation {
    float: left;
    height: 100%;
    padding: 0;
}
.header_navigation li  {
    display: table;
    height: 100%;
    float: left;
    padding: 0 20px;
}
.header_item_link {
    text-decoration: none;
    color: #0A0A0A;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.login_button {
    border-radius: 100px;
    border: none;
    background: #BC6C25;
    margin: 0 0 0 41px;
    height: 45px;
    padding: 12px 40px;
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
/*header end*/
/* container 2 start */
.container_two {
    height: 343px;    
    margin-top: 190px;
    padding-left: 86px;
}
.title_in_the_first_paragraph {
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-left: 50px;
    padding-bottom:0;
    margin-bottom: 0;
}
.paragraph_in_the_first_paragraph {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 50px;
    width: 431px;
    padding-top: 0;
    margin-top: 30px;
}
.letter_P {
    float: left;
    margin: -230px 0 0 1224px;
}
.letter_P :hover {
    background-color: #0A0A0A;
    cursor: pointer;
}
.letter_P p{
    border-radius: 100px;
    display: block;
    padding: 27px 15px;
    border: 3px solid #FEFAE0;
    background: rgba(254, 250, 224, 0.40);
}
/* container 2 end */
/* container 3 start */
@keyframes earth_rotating {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
.container_three{
    background-image: url(uploads/earth_container.svg);
    width: 1340px;
    height: 596px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 265px;
    text-align: center;
}
.paragraph_one_container_three{
    color: #0A0A0A;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    bottom: 200px;
    left: 200px;
}
.earth_image {
    position: relative;
    bottom: 130px;
    animation: earth_rotating 10s linear infinite;
}
.container_three_paragraph_background {
    margin-top: 10%;
    width: 403px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    color: #000;
    
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: table;
    position: relative;
    left: 30px;
}
.vertical_line_container_three{
    width: 4px;
    height: 41px;
    background: rgba(2, 48, 71, 0.24);
    position: absolute;
    left: 20px;
    top: 30%;
}
.container_three_paragraph_background p{
    width: 43%;    
    height: 50%;
    position: absolute;
    top: 15%;
    left: 12%;
}
.p_two_container_three {
    position: absolute;
    top: 57%;
    left: 32%;
}

.p_two_container_three .container_three_paragraph_background p {
    width: 67%;
}
.p_three_container_three {
    position: absolute;
    top: 57%;
    left: 64%;
}
.p_three_container_three .container_three_paragraph_background p {
    width: 70%;
}
.p_one_container_three :hover{
    cursor: pointer;
}
.p_two_container_three :hover{
    cursor: pointer;
}
.p_three_container_three :hover{
    cursor: pointer;
}
.container_three_h4_one {
    width: 403px; 
    height: 130px;
    border-radius: 8px;
    background: #001621;
    display: none;
}
.container_three_h4_two {
    width: 403px; 
    height: 130px;
    border-radius: 8px;
    background: #001621;
    display: none;
}
.container_three_h4_three {
    width: 403px; 
    height: 130px;
    border-radius: 8px;
    background: #001621;
    display: none;
}
.p_one_container_three h4 {
    width:371px; 
    height:72px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 29px 16px 29px 16px;
    text-align: left;
}
.p_two_container_three h4 {
    width:371px; 
    height:72px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 29px 16px 29px 16px;
    text-align: left;
}
.p_three_container_three h4 {
    width:371px; 
    height:72px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 29px 16px 29px 16px;
    text-align: left;
}
/* container 3 end */
/* section 2 start */

/* aj video start */
.aj_video_player {
    margin-top: 151px;
}
.aj_video {
    border-radius: 40px;
    background: rgba(1, 10, 14, 0.50);
    width: 1240px;
    height: 597px;
    margin:151px 0 0 100px ;
}
.video_playing_button {
    width: 48px;
    height: 48px;
    background-color: green;
    display: inline;
    position: absolute;
}
.video_pausing_button {
    width: 48px;
    height: 48px;
    background-color: green;
    display: inline;
    position: absolute;
}
/* aj video end */
/* container 4 start */
.container_four {
    width: 711px;
    height: 762px;
    flex-shrink: 0;
    background: #0E0E0E;
    margin-top: 152px;
    float: left;
}
.container_four h1 {
color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 80px 0 60px 50px;
}
.container_four p {
    width: 529px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding:  0 0 284px 50px
}
/* container 4 end */
/* container 5 start */
.container_five {
    border-radius: 0 40px 40px 0;
    background: #001621;
    width: 679px;
    height: 762px;
    flex-shrink: 0;
    display: inline-block;
    margin: 152px 0 0 0;
}
.container_five_content {
    width: 527px;
    height: 599px;
    margin: 81px 76px 82px 76px;
}
.vertical_line_one {
    width: 4px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(188, 108, 37, 0.30);
    margin: 18px 0 20px 80px;
}
.container_five_p_one {
    width : 318px;
    height : 66px;
    float: right;
    margin: 45px 0 0 50px;
}
.clothes_img_one_container p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.clothes_img_one_container p span {
    font-weight: 900;
    text-decoration-line: underline;
}
.container_five_p_two {
    width : 318px;
    height : 66px;
    float: right;
    margin: 45px 0 0 50px;
}
.clothes_img_two_container p {
    opacity: 0.4;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.clothes_img_two_container p span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration-line: underline;
}
.container_five_p_three {
    width : 318px;
    height : 66px;
    float: right;
    margin: 45px 0 0 50px;
}
.clothes_img_three_container p {
    opacity: 0.4;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.clothes_img_three_container p span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration-line: underline;
}
/* container 5 end */
/* container 6 start */
.container_six {
    width: 1315px;
    justify-content: center;
    gap: 113px;
    height: 396px;
    margin : 150px 125px 0 0;
}
.clothes_img_four {
    margin: 0 113px 0 0;
}
.container_six_txt {
    width: 479px;
    height: 194px;
    flex-shrink: 0;
    float: right;
    margin-top: 0;
}
.container_six_txt h1 {
    margin: 101px 0 40px 0;
    color: #023047;
    font-size: 49px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration:underline;
    text-decoration-color: rgba(188, 108, 37, 0.40);
    text-decoration-thickness: 8px;
}
.container_six_txt p {
    width: 479px;
    height: 86px;
    flex-shrink: 0;
    color: #023047;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* container 6 end */
/* container 7 start */
.container_sevens_container {
    width: 100%;
    height: 396px;
    margin-top: 150px;
}
.container_seven {
    width: 1315px;
    height: 396px;
    float:right;
}
.clothes_img_five {
    border-radius: 1000px 0 0 1000px;
    background: rgba(6, 56, 79, 0.30);
    width: 722px;
    height: 396px;
    flex-shrink: 0;
    float: right;
    margin: 0 0 0 114px;
}
.container_seven_txt {
    width: 479px;
    height: 194px;
    flex-shrink: 0;
    float: left;
    margin-top: 0;
}
.container_seven_txt h1 {
    margin: 101px 0 40px 0;
    color: #023047;
    font-size: 49px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration:underline;
    text-decoration-color: rgba(188, 108, 37, 0.40);
    text-decoration-thickness: 8px;
}
.container_seven_txt p {
    width: 479px;
    height: 86px;
    flex-shrink: 0;
    color: #023047;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* container 7 end */
/* container 8 start*/

.container_eight {
    width: 1390px;
    height: 762px;
    flex-shrink: 0;
    margin: 150px auto;
    padding: 0 20px;
    border-radius: 40px 0 0 40px;
}
.slides {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.slide {
    list-style-type: none;
    height: 762px;
    width: 5%;
    overflow: hidden;
    -webkit-transition:all 500ms linear;
	-moz-transition:all 500ms linear;
	-o-transition:all 500ms linear;
	-ms-transition:all 500ms linear;
	transition:all 500ms linear;
}
.container_eight_li {
    width: 141px;
    background: #001621;
}
.slide a.action{
    display: block;
    height: 100%;
    display: block;
    position: relative;
    background-color: #0E0E0E;
    border-left: rgba(255, 255, 255, 0.20) 2px solid;
}
.slide a.action span{
    transform: rotate(270deg);
    position: absolute;
    top: 10%;
    width: 140px;
    left: -30%;
    height: 100px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 263px;
    margin-left: 50px;
}
.slide-content{
    display: block;
    width: 720px;
    padding: 40px;
    background-color: blue;
}
.slide_content{
    color:#fff;
    margin: 264px 0 0 134px;
    width:748px;
    height:448px;
}
.opened_li_container_eight {
    width:80%;
}
.opened_li_container_eight a.action{
    display: none;
    
}
.slide_content h1 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.slide_content p {
    width: 748px;
    height: 141px;
    margin: 51px 0 0 0;
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.slide_content img {
    float: left;
    margin: 0 16px 0 0 ;
}
.slide_content h6{
    margin:188px 0 0 0 ;
    color: rgba(255, 255, 255, 0.70);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-decoration-color: rgba(188, 108, 37, 0.30);
    text-decoration-thickness: 3px;
}
/* container 8 end */
/* container 9 start */
.container_nine {
    width: 100%;
    height: 762px;
    margin: 150px 0 0 0;
}
.container_nine_first_part {
    width: 737px;
    height: 762px;
    float: left;
    flex-shrink: 0;
    background: #F6F6F6;
}
.container_nine_title {
    width: 435px;
    height:136px;
    padding : 80px 0 0 50px;
}
.container_nine_title h1 {
    color: #023047;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.container_nine_p {
    width: 529px;
    height: 270px;
    padding: 60px 0 0 50px
}
.container_nine_p p {
    color: #023047;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container_nine_second_part {
    float: left;
    width: 49.6vw;
    height: 762px;
    background: #F6F6F6;
}
.aj_containers_img{
    width: 388px;
    height: 514px;
    flex-shrink: 0;
    margin : 80px 0 0 157px ;
}
.more_info_button {
    width: 218px;
    height: 50px;
    flex-shrink: 0;
    margin: 40px 0 0 242px;
}
.more_info_button button {
    width: 218px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #BC6C25;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* container 9 start */
/* container 10 & 11 start */
.container_ten {
    width: 1378px;
    height: 461px;
    margin: 150px 0 0 50px;
}
.container_ten_title{
    margin: 0 0 0 0;
    color: #023047;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.container_ten_block{
    width: 252px;
    margin: 0 20px 0 0;
    display: inline-block;
}
.container_ten_img {
    border-radius: 20px;
    width: 252px;
    height: 274px;
    margin: 31px 20px 0 0;
    flex-shrink: 0;
    display: inline-block;
}
.container_ten_img img{
    width: 252px;
    height: 274px;
    border-radius: 20px;
}
.container_ten_img_p {
    width: 254px;
    height: 72px;
    margin: 16px 0 0 0 ;
    color: #023047;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
}
.container_ten_img_p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.container_eleven {
    width: 1378px;
    height: 461px;
    margin: 100px 0 0 50px;
}

/* container 10 & 11 end */
/* section 2 end */
/* footer start */
.footer {
    width: 100%;
    height: 538px;
    display: grid;
}
.footer_part_one {
    width: 100%;
    height: 438px;
    margin:150px 0 0 0;
    background: #001C2B;
    padding-top: 1px;
}
.footer_part_two {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: rgba(0, 28, 43, 0.25);
    display:grid;
    grid-template-columns: repeat(3, auto);
}
.footer_inputs {
    display: block;
    width: 967px;
    height: 338px;
    margin: 50px 0 0 50px;
    border-radius: 20px;
    background-color: #02283C;
    flex-shrink: 0;
}
.footer_name_question {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top:1px;
}
.social_icons{
    display: grid;
    grid-template-columns: repeat(5, 36px);
    row-gap: 40px;
}


/* footer end */
